In [2]:
import re
# inbuilt module in python for regular expressions

go to below website for checking regex code

https://regex101.com/

In [3]:
chat1 = 'vinay you ask lot of questions 1235678912, abc@xyz.com'
chat2 = 'vinay here it is: (123)-567-8912, abc@xyz.com'
chat3 = 'vinay: yes, phone: 1235678912 email: abc@xyz.com'

## to get phone number

### re.findall(pattern, string, flags=0)

Returns all non-overlapping matches of pattern in string, as a list of strings or tuples. The string is scanned left-to-right, and matches are returned in the order found. Empty matches are included in the result.

In [7]:
# \d: Matches any Unicode decimal digit (that is, any character in Unicode character category [Nd]). 
# This includes [0-9], and also many other digit characters. 
# If the ASCII flag is used only [0-9] is matched.

# {m} Specifies that exactly m copies of the previous RE should be matched;
# fewer matches cause the entire RE not to match. 
# For example, a{6} will match exactly six 'a' characters, but not five.

# chat1 pattern to get the phone number
pattern = '\d{10}' # applicable for chat1 only

matches = re.findall(pattern, chat1) # store the match in matches variable
matches # print the matches

['1235678912']

In [8]:
# chat2 re pattern to find the phone number

In [13]:
# bracket has a spatial meaning to capture everything


pattern = '(\d{3})'

matches = re.findall(pattern, chat2)
matches

# output gives the three digit pattern instead of three digits in brackets

['123', '567', '891']

In [12]:
# use escape character '\' to use it as normal bracket
pattern = '\(\d{3}\)'

matches = re.findall(pattern, chat2)
matches

['(123)']

In [14]:
# continue with the pattern to get phone number in chat2
pattern = '\(\d{3}\)-\d{3}-\d{4}'

matches = re.findall(pattern, chat2)
matches

['(123)-567-8912']

In [17]:
# now to find both the India and US phone numbers in one go
# use the OR '|' re special character

pattern = '\d{10}|\(\d{3}\)-\d{3}-\d{4}' 
# dont use space or anything inside quotations

matches = re.findall(pattern, chat1)
print(f"match in chat1: {matches}")
matches = re.findall(pattern, chat2)
print(f"match in chat2: {matches}")
matches = re.findall(pattern, chat3)
print(f"match in chat3: {matches}")

match in chat1: ['1235678912']
match in chat2: ['(123)-567-8912']
match in chat3: ['1235678912']

## to get email

. : (Dot.) In the default mode, this matches any character except a newline. If the DOTALL flag has been specified, this matches any character including a newline.

\* : Causes the resulting RE to match 0 or more repetitions of the preceding RE, as many repetitions as are possible. ab* will match ‘a’, ‘ab’, or ‘a’ followed by any number of ‘b’s.

\+ : Causes the resulting RE to match 1 or more repetitions of the preceding RE. ab+ will match ‘a’ followed by any non-zero number of ‘b’s; it will not match just ‘a’.

[] : Used to indicate a set of characters. In a set:

    - Characters can be listed individually, e.g. [amk] will match 'a', 'm', or 'k'.
    
    - Ranges of characters can be indicated by giving two characters and separating them by a '-', for example [a-z] will match any lowercase ASCII letter, [0-5][0-9] will match all the two-digits numbers from 00 to 59, and [0-9A-Fa-f] will match any hexadecimal digit. If - is escaped (e.g. [a\-z]) or if it’s placed as the first or last character (e.g. [-a] or [a-]), it will match a literal '-'.
    
    - Special characters lose their special meaning inside sets. For example, [(+*)] will match any of the literal characters '(', '+', '*', or ')'.

In [23]:
pattern_email = '[a-zA-Z0-9_]*@[a-zA-Z0-9]*.[a-zA-Z]*'

match_email = re.findall(pattern_email, chat1)
match_email

['abc@xyz.com']

## to find order no.

In [24]:
bot1 = 'vinay: Hello, I am having an issue with my order # 412889912'
bot2 = 'vinay: I have a problem with my order number 412889912'
bot3 = 'vinay: My order 412889912 is having an issue, I was charged 300rs when online it says 200 rs'

- a[^\d] - match anything upto one character after a
- a[^\d]* - match anything after a until it finds digit

In [27]:
pattern = 'order[^\d]*\d*'

order = re.findall(pattern, bot1)
order

['order # 412889912']

The above pattern returns the entire match, but we need only order #

In [30]:
# to get only the order # 

# use () group character to return only the order #

pattern = 'order[^\d]*(\d*)'

order = re.findall(pattern, bot1)
print(order)

order = re.findall(pattern, bot2)
print(order)

order = re.findall(pattern, bot3)
print(order)

['412889912']
['412889912']
['412889912']

## to get key information about a person

In [31]:
text = '''Born	Elon Reeve Musk
June 28, 1971 (age 51)
Pretoria, Transvaal, South Africa
Education	University of Pennsylvania (BA, BS)
Title	
Founder, CEO and chief engineer of SpaceX
CEO and product architect of Tesla, Inc.
Owner, CTO and chairman of Twitter
President of the Musk Foundation
Founder of the Boring Company, X Corp. and X.AI
Co-founder of Neuralink, OpenAI, Zip2 and X.com (part of PayPal)
Spouses	
Justine Wilson
​
​(m. 2000; div. 2008)​
Talulah Riley
​
​(m. 2010; div. 2012)​
​
​(m. 2013; div. 2016)​
Partner	Grimes (2018–2021)[1]
Children	10[a][3]
Parents	
Errol Musk (father)
Maye Musk (mother)
Family	Musk family'''

In [32]:
# to get the age

pattern = 'age (\d*)'

age = re.findall(pattern, text)
age

['51']

In [38]:
# to retrieve the text after Born till the endline

pattern = 'Born(.*)\n'

full_name = re.findall(pattern, text) # by default .findall doesnot match \n
full_name[0].strip() # strip removes whitespaces around age.

'Elon Reeve Musk'

In [39]:
# to retrieve birth date

pattern = 'Born.*\n(.*)\(age'

birth_date = re.findall(pattern, text) # by default .findall doesnot match \n
birth_date[0].strip() # strip removes whitespaces around date

'June 28, 1971'

In [40]:
# to retrieve the birth place

pattern = '\(age.*\n(.*)'

birth_place = re.findall(pattern, text) # by default .findall doesnot match \n
birth_place[0].strip() # strip removes whitespaces around place

'Pretoria, Transvaal, South Africa'

## Python function to get all the details using above patterns

In [41]:
def get_pattern_match(pattern, text):
    matches = re.findall(pattern, text)
    if matches:
        return matches[0]

In [42]:
# call the function
get_pattern_match(pattern = '\(age.*\n(.*)', text = text)

'Pretoria, Transvaal, South Africa'

In [44]:
# python function to retrieve all details

def get_personal_information(text):
    age = get_pattern_match(pattern = 'age (\d*)', text = text)
    full_name = get_pattern_match(pattern = 'Born(.*)\n', text = text)
    birth_date = get_pattern_match(pattern = 'Born.*\n(.*)\(age', text = text)
    birth_place = get_pattern_match(pattern = '\(age.*\n(.*)', text = text)
    
    return{
        'age': int(age),
        'name' : full_name.strip(),
        'birth_date' : birth_date.strip(),
        'birth_place' : birth_place.strip()
    }

In [45]:
get_personal_information(text)

{'age': 51,
 'name': 'Elon Reeve Musk',
 'birth_date': 'June 28, 1971',
 'birth_place': 'Pretoria, Transvaal, South Africa'}

In [46]:
text2 = '''Born	Mukesh Dhirubhai Ambani
19 April 1957 (age 66)
Aden, Colony of Aden
(present-day Yemen)[1][2]
Nationality	Indian
Alma mater	
St. Xavier's College, Mumbai
Institute of Chemical Technology (B.E.)
Occupation(s)	Chairman and MD, Reliance Industries
Spouse	Nita Ambani ​(m. 1985)​[3]
Children	3
Parent	
Dhirubhai Ambani (father)
Relatives	Anil Ambani (brother)
Tina Ambani (sister-in-law)'''

In [47]:
get_personal_information(text2)

{'age': 66,
 'name': 'Mukesh Dhirubhai Ambani',
 'birth_date': '19 April 1957',
 'birth_place': 'Aden, Colony of Aden'}